.exchangeRates {
    padding: 50px 20px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
    grid-column-gap: 18px;
    grid-row-gap: 20px;
}

.rates {
    display: flex;
    border: 1px solid #6f6f6f;
    border-radius: 6px;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    &__key {
    }

    &__value {
    }
}
